Project6.1_RAG_Pipeline_n8n/RAG Pipeline n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        -1216
      ],
      "typeVersion": 1,
      "id": "c6a26a60-ca1d-4f47-9642-52baeb8104d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "objective is build a basic RAG which can ingest a text or PDF , it will ingest into a database by using a embedding model and i will also be able to retrieve it my using chat option .",
        "height": 496,
        "width": 278
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        -10016
      ],
      "typeVersion": 1,
      "id": "459515b4-b30a-43e5-ba58-d0e94261701d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Phase1 - Ingestion ",
        "height": 384,
        "width": 1232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        -9968
      ],
      "typeVersion": 1,
      "id": "88cff53a-a102-4d01-b3a6-b35438f9f7c0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -9744
      ],
      "id": "13e2b27d-9baf-4386-8a23-0e97c95bb73e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dHApXyEL0Pb16MA4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file",
                "value": "={{ $('Upload File').item.json.file[0].filename }}"
              },
              {
                "name": "Uploaded at ",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1264,
        -9840
      ],
      "id": "de00d05c-06d5-486e-9934-e13fe204e4c5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -928,
        -9712
      ],
      "id": "a58a4170-1e5d-47ba-806e-fb5bbdb0cd8c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "formTitle": "Upload the RAG file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Uploadfile",
              "fieldType": "file",
              "fieldName": "file",
              "acceptFileTypes": ".pdf,.json,.csv,.docs,.txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -1568,
        -9872
      ],
      "id": "7579b086-fc5b-4b79-8d83-d1807619efb9",
      "name": "Upload File",
      "webhookId": "2edce02e-d7c8-49bd-b874-5463e54c62fd"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag1536",
          "mode": "list",
          "cachedResultName": "n8nrag1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1392,
        -9952
      ],
      "id": "ab2dbc8f-1cb1-4712-a0d1-5f23c4008fbf",
      "name": "Store the doc to Vector DB",
      "credentials": {
        "pineconeApi": {
          "id": "O6GvRaAWdIiGEVXi",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "content": "Phase 2 - Fetching ",
        "height": 336,
        "width": 1264,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -9552
      ],
      "typeVersion": 1,
      "id": "7c5f709c-c19f-4c34-8f72-8510c860de7a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1584,
        -9456
      ],
      "id": "2016a480-85cd-4673-9a3b-ee6aa0af284a",
      "name": "When chat message received",
      "webhookId": "4cc3f84b-81cf-47fe-8934-d1b1c1e757c0"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful QA assistant that answers questions based on the retrieved document, Use the Retrieve from pine code tool to search the relevant information, if you can not find answer respond with \"I can not find the information\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1280,
        -9536
      ],
      "id": "8d401d68-72fb-4f92-b003-6d162d5e97f8",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1424,
        -9328
      ],
      "id": "0452bf52-e9ab-4242-a8b2-94bbc199428f",
      "name": "Brain - GPT 5 mini",
      "credentials": {
        "openAiApi": {
          "id": "dHApXyEL0Pb16MA4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -1280,
        -9328
      ],
      "id": "72e9a534-19a0-4ebc-b868-df8e5af7a7c2",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag1536",
          "mode": "list",
          "cachedResultName": "n8nrag1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1184,
        -9328
      ],
      "id": "3c95e6fe-e55b-4314-b751-c914e4a9dec1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "O6GvRaAWdIiGEVXi",
          "name": "Pinecone account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Store the doc to Vector DB",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Store the doc to Vector DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Store the doc to Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        []
      ]
    },
    "Brain - GPT 5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0cd87699-dc90-476d-9507-cd0939696cdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77778a6c5ff4a618a30614112fb8f172bfd3d8f788ed617d1348fd0dd786725f"
  },
  "nodeGroups": [],
  "id": "HNTR8A0OQ6ZOlAdM",
  "tags": []
}